$bgcolor: #A66FA6;
$bgcolor2: #530E53;
$color: #609732;
$aimh: 'aimh';
$aimhsrc: url('../fonts/aimh.ttf');
$ten: 10px;
$headerwidth: 35%;
$medium-font: 35px;
$large-font: 45px;
$xlarge-font: 55px;
$extra-large-font: 65px;

body{
	background-color: $bgcolor !important;
}

@font-face{
	font-family: $aimh;
	src: $aimhsrc;
}

.main{
	background-color: $bgcolor2;
	color: $color;
	padding: $ten;
}

.center{
	text-align: center;
}

.headerlg{
	font-size: $large-font;
	border-bottom: 2px solid $color;
	width: $headerwidth;
	margin-left: auto;
	margin-right: auto;
	font-family: $aimh;
}

p{
	font-family: Arial;
}

img{
	float: left;
	clear: right;
	margin-top: $ten*1.5;
	margin-right: $ten*1.5;
}

.parlg{
	font-size: $ten*3;
}

.large{
	font-size: $large-font;
}

.medium{
	font-size: $medium-font;
}

.headerdiv{
	border-bottom: 1px solid $color;
}

.navbar{
	font-family: $aimh;
	font-size: $medium-font;
	text-align: center;
	ul{
		list-style-type: none;
	}

	li{
		display: inline;
	}
	a{
		color: $color*1.45;
		text-decoration: none
	}
	a:hover, a:visited, a:focus, a:active{
		color: $color*2;
		text-decoration: none;
	}
}

.whitespace{
	margin-bottom: 100px;
}